<div class="md:flex md:justify-center">
    <div class="my-10 relative flex flex-col max-sm:p-10 md:max-w-xs rounded-md text-black bg-white">
        <div class="text-xl font-bold mb-2 text-black text-center">Besoin d'aide ? <span class="text-[#E88A68]">Contactez-nous!</span></div>
        <div class="text-sm font-base mb-4 text-center text-black">Veuillez remplir le formulaire</div>
        <form [formGroup]="contactForm" (ngSubmit)="monFormEstSoumis()" class="flex flex-col gap-3">
            <div class="block relative"> 
                <label for="name" class="block text-black cursor-text text-sm leading-[140%] font-base mb-2">Nom<span class="text-red-500">*</span></label>
                <input 
                    type="text"
                    id="name"
                    formControlName="name" 
                    class="rounded border border-gray-200 text-sm w-full font-base leading-[18px] text-black tracking-[0px] appearance-none block h-11 m-0 p-[11px] focus:ring-2 ring-offset-2  ring-gray-900 outline-0">
            </div>
            <div class="block relative"> 
                <label for="email" class="block text-black cursor-text text-sm leading-[140%] font-base mb-2">Email<span class="text-red-500">*</span></label>
                <input 
                    type="email"
                    id="email"
                    formControlName="email" 
                    class="rounded border border-gray-200 text-sm w-full font-base leading-[18px] text-black tracking-[0px] appearance-none block h-11 m-0 p-[11px] focus:ring-2 ring-offset-2  ring-gray-900 outline-0">
            </div>
            <div class="block relative"> 
                <label for="user-genre" class="block text-black cursor-text text-sm leading-[140%] font-base mb-2">Objet:<span class="text-red-500">*</span></label>
                <input
                    type="text"
                    id="subject"
                    formControlName="subject"
                    class="rounded border border-gray-200 text-sm w-full font-base leading-[18px] text-black tracking-[0px] appearance-none block h-11 m-0 p-[11px] focus:ring-2 ring-offset-2 ring-gray-900 outline-0">
            </div>
            <div class="block relative"> 
                <label for="password" class="block text-black cursor-text text-sm leading-[140%] font-base mb-2">Message<span class="text-red-500">*</span></label>
                <textarea
                    type="text"
                    id="message"
                    formControlName="message"
                    rows="4"
                    class="rounded border border-gray-200 text-sm w-full font-base leading-[18px] text-black tracking-[0px] appearance-none block h-11 m-0 p-[11px] focus:ring-2 ring-offset-2 ring-gray-900 outline-0">
                    </textarea>
            </div>
            <button (click)="submitting()" [disabled]="isLoading" type="submit" class="bg-[#df724b] w-max m-auto px-6 py-2 rounded cursor-pointer text-white text-sm font-base">
                <span [class.hiddenButton]="isLoading">Envoyer</span>
                <div [class.hiddenButton]="!isLoading" class="dots-container-center">
                    <div class="dot-center dot-center-1"></div>
                    <div class="dot-center dot-center-2"></div>
                    <div class="dot-center dot-center-3"></div>
                </div>
            </button>
        </form>
    </div>
</div>