<div class="px-4 md:px-8 md:flex md:flex-row md:items-center md:gap-6" >
  <div class="max-w-xl md:max-w-lg flex flex-col my-10 px-4">
    <!-- Header -->
    <div class="flex items-center justify-between mb-8">
      <h1 class="text-3xl font-bold text-gray-900">Mes discussions</h1>
    </div>

    <div class="bg-[#f6f6f6] rounded-xl divide-y divide-gray-200">
      <!-- Section conversation -->
      @for (message of messages; track message.id) {
        <div class="p-4 hover:bg-gray-50 cursor-pointer transition-colors group">
          <div class="flex items-center">
            <!-- Avatar -->
            <div class="relative">
              <img
                src="{{message.receiver.profilePicture}}"
                alt="Marie"
                class="w-14 h-14 rounded-full object-cover border-2 border-gray-200"
              />
              <div class="absolute -bottom-1 -right-1 w-4 h-4 bg-conexus-green rounded-full border-2 border-white"></div>
            </div>

            <!-- Infos conversation -->
            <div class="ml-4 flex-1">
              <div class="flex justify-between mb-1">
                <h3 class="font-semibold text-gray-900 group-hover:text-conexus-green transition-colors">
                  {{message.receiver.name}}
                </h3>
                <span class="text-sm text-gray-500">{{ message.updatedAt }}</span>
              </div>

              <p class="text-gray-600 text-sm line-clamp-1">
                {{message.content}}
              </p>

              <div class="flex items-center justify-between mt-1">
                <span class="text-xs text-gray-400">Mettre la résidence</span>
                <div class="bg-conexus-green text-white text-xs rounded-full w-6 h-6 flex items-center justify-center">
                  <!-- ex: nombre de messages non lus -->
                  3A voir
                </div>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>

  <!-- Espace pour le chat -->
  <!-- A implémenter plus tard -->
  <div>

    <h2>A essayer</h2>
  </div>
</div>

