<div class="md:flex md:justify-center">
    <div class="my-10 relative flex flex-col max-sm:p-10 md:max-w-xs rounded-md text-black bg-white">
        <div class="text-xl font-bold mb-2 text-black text-center">Bienvenue sur <span class="text-[#E88A68]">Conexus</span></div>
        <div class="text-sm font-base mb-4 text-center text-black">Inscrivez-vous!</div>
        <form class="flex flex-col gap-3">
            <div class="block relative"> 
                <label for="name" class="block text-black cursor-text text-sm leading-[140%] font-base mb-2">Nom et Prénom<span class="text-red-500">*</span></label>
                <input 
                    type="text"
                    id="name"
                    formControlName="name" 
                    class="rounded border border-gray-200 text-sm w-full font-base leading-[18px] text-black tracking-[0px] appearance-none block h-11 m-0 p-[11px] focus:ring-2 ring-offset-2  ring-gray-900 outline-0">
            </div>
            <div class="block relative"> 
                <label for="email" class="block text-black cursor-text text-sm leading-[140%] font-base mb-2">Email<span class="text-red-500">*</span></label>
                <input 
                    type="text"
                    id="email"
                    formControlName="email" 
                    class="rounded border border-gray-200 text-sm w-full font-base leading-[18px] text-black tracking-[0px] appearance-none block h-11 m-0 p-[11px] focus:ring-2 ring-offset-2  ring-gray-900 outline-0">
            </div>
            <div class="block relative"> 
                <label for="user-genre" class="block text-black cursor-text text-sm leading-[140%] font-base mb-2">Quel est votre sexe ?<span class="text-red-500">*</span></label>
                    <select 
                        name="userGenre" 
                        id="userGenre"
                        formControlName="userGenre"
                        class="rounded border border-gray-200 text-sm w-full font-base leading-[18px] text-black tracking-[0px] appearance-none block h-11 m-0 p-[11px] focus:ring-2 ring-offset-2 ring-gray-900 outline-0 bg-white cursor-pointer">
                        <option value="" class="text-grey-700">Sélectionnez votre sexe</option>
                        <option value="femme" class="text-black">Femme</option>
                        <option value="homme" class="text-black">Homme</option>
                    </select>
            </div>
            <div class="block relative">
                <label for="birthDate" class="block text-black cursor-text text-sm leading-[140%] font-base mb-2">
                    Quelle est votre date de naissance ? <span class="text-red-500">*</span>
                </label>
                <div class="relative">
                    <input 
                        type="date" 
                        name="birthDate" 
                        id="birthDate"
                        formControlName="birthDate"
                        class="rounded border border-gray-200 text-sm w-full font-base leading-[18px] text-black tracking-[0px] block h-11 m-0 p-[11px] focus:ring-2 ring-offset-2 ring-gray-900 outline-0 bg-white cursor-pointer"
                        required
                        max="2006-09-02"
                        min="1924-01-01">
                </div>
                <p class="text-xs text-gray-500 mt-1">Vous devez avoir au moins 18 ans pour vous inscrire</p>
            </div>
            <div class="block relative"> 
                <label for="avatar" class="block text-black cursor-text text-sm leading-[140%] font-base mb-2">Choisissez une photo de profil:</label>
                <input
                    type="file"
                    id="avatar"
                    formControlName="avatar"
                    accept="image/png, image/jpeg"
                    class="rounded border border-gray-200 text-sm w-full font-base leading-[18px] text-black tracking-[0px] appearance-none block h-11 m-0 p-[11px] focus:ring-2 ring-offset-2 ring-gray-900 outline-0">
            </div>
            <div class="block relative"> 
                <label for="password" class="block text-black cursor-text text-sm leading-[140%] font-base mb-2">Mot de passe</label>
                <input
                    type="text"
                    id="password"
                    formControlName="password"
                    class="rounded border border-gray-200 text-sm w-full font-base leading-[18px] text-black tracking-[0px] appearance-none block h-11 m-0 p-[11px] focus:ring-2 ring-offset-2 ring-gray-900 outline-0">
            </div>
            <button type="submit" class="bg-[#df724b] w-max m-auto px-6 py-2 rounded text-white text-sm font-base">Valider</button>
        </form>
        <div class="text-sm text-center mt-[1.4rem]">Vous avez un de compte?
            <a routerLink="/app-login" class="text-sm text-[#E88A68] hover:text-[#df724b]">Connectez-vous!</a>
        </div>
    </div>
</div>
