<footer class="bg-[#f6f6f6] ">
    <div>
        <div class="md:items-start md:flex md:justify-between">
        <span class="flex max-sm:justify-center max-sm:items-center max-sm:flex-wrap max-md:justify-center md:flex-col space-y-2 mb-5 md:mb-0">
                <a routerLink="/app-home">
                    <img src="image/logo-transparent-png.png" class="h-12 w-38 md:h-16 md:w-50" alt="Logo">
                </a>
            <p class="text-center text-sm md:text-start md:text-base max-sm:mx-5 mb-4 md:w-64 md:ml-8">
                Lorem ipsum dolor sit amet. Vel ratione numquam et consequatur nesciunt sit internos voluptates sit dolorem illum ut magni delectus a sunt quod et illo voluptate. Et consequatur ipsam cum asperiores iure aut rerum voluptatem aut incidunt quia et eaque ipsum qui sunt amet.
            </p>
        </span>
        <hgroup class="md:flex md:justify-evenly md:items-start md:space-x-10 mt-5">
            <span class="flex flex-col justify-center items-center space-y-2 mb-5 md:items-start">
                <h3 class="text-xl font-medium text-center mb-4">À propos</h3>
                    <p class="text-sm md:text-base max-sm:mx-5 ">
                        Qui sommes nous?
                    </p>
                    <p class="text-sm md:text-base max-sm:mx-5">
                        Blog
                    </p>
                    <p class="text-sm md:text-base max-sm:mx-5">
                        Notre FAQ
                    </p>
                    <p class="text-sm md:text-base max-sm:mx-5">
                        Nous contacter
                    </p>
                    <p class="text-sm md:text-base max-sm:mx-5">
                        Fonctionnement du site
                    </p>
            </span>
            <span class="flex flex-col justify-center items-center space-y-2 mb-5 md:items-start ">
                <h3 class="text-xl font-medium text-center mb-4">Villes</h3>
                    <p class="text-sm md:text-base max-sm:mx-5">
                        Londres
                    </p>
                    <p class="text-sm md:text-base max-sm:mx-5">
                        Paris
                    </p>
                    <p class="text-sm md:text-base max-sm:mx-5">
                        Madrid
                    </p>
                    <p class="text-sm md:text-base max-sm:mx-5">
                        Berlin
                    </p>
                    <p class="text-sm md:text-base max-sm:mx-5">
                        Lisbonne
                    </p>
            </span>   
            <span class="flex flex-col justify-center items-center space-y-2 mb-5 md:items-start">   
                <h3 class="text-xl font-medium text-center mb-4">En savoir plus</h3>
                    <p class="text-sm md:text-base max-sm:mx-5">
                        Mentions légales
                    </p>
                    <p class="text-sm md:text-base max-sm:mx-5">
                        CGV
                    </p>
                    <p class="text-sm md:text-base max-sm:mx-5">
                        Politique de cookies
                    </p>
                    <p class="text-sm md:text-base max-sm:mx-5">
                        Politique de confidentialité
                    </p>
            </span>     
        </hgroup>
        </div>
        <div class="flex flex-col justify-center items-center space-y-2 mb-5 md:items-start md:ml-8">
            <h3 class="text-xl font-medium text-center mb-4">Suivez-nous!</h3>
            <span class="flex justify-center items-center my-2">
                <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer" class="mx-2">
                    <img src="image/instagram.svg" alt="Instagram" class="h-6 w-6">
                </a>
                <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer" class="mx-2">
                    <img src="image/facebook.svg" alt="Facebook" class="h-6 w-6">
                </a>
                <a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer" class="mx-2">
                    <img src="image/youtube.svg" alt="Youtube" class="h-6 w-6">
                </a>
                <a href="https://www.x.com" target="_blank" rel="noopener noreferrer" class="mx-2">
                    <img src="image/twitter.svg" alt="twitter" class="h-6 w-6">
                </a>
            </span>
        </div>
        <div class="text-center text-sm md:text-base my-5 border-t border-gray-600 w-full">
            <p class="mt-4">
                ©Conexus 2025
            </p>
            <p>
                Tous droits réservés.
            </p>
        </div>
    </div>
</footer>
